/*
font-family: 'Kaushan Script', cursive;
font-family: 'Shadows Into Light Two', cursive;
font-family: 'Allura', cursive;
font-family: 'Just Another Hand', cursive;
*/

body{
    background-image: url(../images/background-blur-bokeh-220067.jpg);
    background-repeat: no-repeat;
}
header{
    font-family: Allura, cursive;
    font-weight: bold;
    font-size: 100px;
    color: rgb(229, 150, 59);
    padding: 20px 100px 20px 650px;
    text-shadow: 1.5px 1.5px rgb(187, 77, 43);

}
h2{
    font-family: 'Just Another Hand', cursive;
    color: rgb(229, 150, 59);
    font-size: 70px;
    text-align: center;
    text-shadow: 1px 1px rgb()
    
}
h4{
    font-family: 'Shadows Into Light Two', cursive;
    color: rgb(229, 150, 59);
    text-align: center;
}
#playerGuess{
    font-family: 'Kaushan Script', cursive;
    color:rgb(229, 150, 59);
    text-align: center;
}
#wins{
    font-family: 'Kaushan Script', cursive;
    color:rgb(229, 150, 59);
    text-align: center;
}
#guessLeft{
    font-family: 'Kaushan Script', cursive;
    color: rgb(229, 150, 59);
    background-color: rgb(205, 101, 41, 0);
    text-align: center;
}
#losses{
    font-family: 'Kaushan Script', cursive;
    color: rgb(229, 150, 59);
    background-color: rgb(205, 101, 41, 0);
    text-align: center;
}
